<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="20250820_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0061304 0.0002476 -0.0093676"
        rpy="0 0 0" />
      <mass
        value="0.2660000" />
      <inertia
        ixx="0.0006309"
        ixy="0.0000006"
        ixz="-0.0000468"
        iyy="0.0003008"
        iyz="0.0000003"
        izz="0.0007489" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="LT_link">
    <inertial>
      <origin
        xyz="0.0012701 0.0040620 -0.0190086"
        rpy="0 0 0" />
      <mass
        value="0.0080000" />
      <inertia
        ixx="0.0000041"
        ixy="0.0000000"
        ixz="0.0000002"
        iyy="0.0000046"
        iyz="0.0000001"
        izz="0.0000005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LT_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LT_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LT_joint"
    type="revolute">
    <origin
      xyz="0.037193 0.04014 0.00555"
      rpy="0 -1.3914 0" />
    <parent
      link="base_link" />
    <child
      link="LT_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.3479"
      upper="0.3363"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="LC_link">
    <inertial>
      <origin
        xyz="0.0013809 0.0047027 -0.0690315"
        rpy="0 0 0" />
      <mass
        value="0.0166292" />
      <inertia
        ixx="1.92606315320937E-05"
        ixy="-8.82655659688194E-09"
        ixz="-3.55356649539172E-07"
        iyy="1.99807316204063E-05"
        iyz="4.41228359669666E-07"
        izz="1.55379596081475E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LC_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LC_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LC_joint"
    type="revolute">
    <origin
      xyz="0.00400624584257155 0.00825 -0.0599599974003271"
      rpy="3.14159265358979 0.970968251102385 3.14159265358979" />
    <parent
      link="LT_link" />
    <child
      link="LC_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.29146998508"
      upper="1.25"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="LW_link">
    <inertial>
      <origin
        xyz="0.0000000 0.0083246 0.0000000"
        rpy="0 0 0" />
      <mass
        value="0.0559681585451639" />
      <inertia
        ixx="0.0000121"
        ixy="0.0000000"
        ixz="0.0000000"
        iyy="0.0000209"
        iyz="0.0000000"
        izz="0.0000121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LW_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LW_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LW_joint"
    type="revolute">
    <origin
      xyz="0.00200000000000076 0.024 -0.0999799979995941"
      rpy="0 -0.779219558190924 0" />
    <parent
      link="LC_link" />
    <child
      link="LW_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1000000"
      upper="1000000"
      effort="5"
      velocity="1000" />
  </joint>
  <link
    name="RT_link">
    <inertial>
      <origin
        xyz="0.00127013 -0.0040620 -0.0190086"
        rpy="0 0 0" />
      <mass
        value="0.0080000" />
      <inertia
        ixx="0.0000041"
        ixy="0.0000000"
        ixz="0.0000002"
        iyy="0.0000046"
        iyz="0.0000001"
        izz="0.0000005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RT_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RT_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RT_joint"
    type="revolute">
    <origin
      xyz="0.037193 -0.03976 0.00555"
      rpy="0 -1.3914 0" />
    <parent
      link="base_link" />
    <child
      link="RT_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3363"
      upper="1.3479"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="RC_link">
    <inertial>
      <origin
        xyz="-0.0013809 -0.0047027 -0.0690315"
        rpy="0 0 0" />
      <mass
        value="0.0166292" />
      <inertia
        ixx="0.0000240"
        ixy="0.0000000"
        ixz="0.0000004"
        iyy="0.0000245"
        iyz="-0.00000006"
        izz="0.0000016" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RC_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RC_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RC_joint"
    type="revolute">
    <origin
      xyz="0.0040062458425682 -0.00825000000001 -0.0599599974003474"
      rpy="-3.14159265358951 1.01097091824902 -3.14159265358956" />
    <parent
      link="RT_link" />
    <child
      link="RC_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.25"
      upper="0.29146998508"
      effort="30"
      velocity="1000" />
  </joint>
  <link
    name="RW__link">
    <inertial>
      <origin
        xyz="0.0000000 -0.0083246 0.0000000"
        rpy="0 0 0" />
      <mass
        value="0.0559681585451639" />
      <inertia
        ixx="0.0000121"
        ixy="0.0000000"
        ixz="0.0000000"
        iyy="0.0000209"
        iyz="0.0000000"
        izz="0.0000121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RW__link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RW__link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RW_joint"
    type="revolute">
    <origin
      xyz="-0.00199999999999527 -0.0240000000000082 -0.0999799979995988"
      rpy="0 -0.739216891044192 0" />
    <parent
      link="RC_link" />
    <child
      link="RW__link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1000000"
      upper="1000000"
      effort="5"
      velocity="1000" />
  </joint>
</robot>